.buttons {
  margin-top: 0.5em;
}

button {
  text-transform: uppercase;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #37474f;
  border-color: #37474f;
}

button:focus {
  border: none;
}

button:hover {
  color: white;
  background-color: orange;
}

button:disabled {
  cursor: not-allowed;
  background-color: #37474f;
  color: white;
}
