.header {
  width: 100%;
  height: 5rem;
  background-color: black;
  padding: 0 5%;
}

.header nav {
  height: 100%;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  align-content: space-between;
  align-items: center;
  /* justify-content: center;  */
}

.header li {
  margin: 0 1rem;
  width: 10rem;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.header a:hover,
.header a:active,
.header a.active {
  color: orange;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid orange;
}

.allMenuItems {
  display: flex;
  justify-content: space-between;
}

.itemsmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.dbutton {
  text-align: right;
  align-items: center;
}
