.link-btn {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0.5em;
  padding: 0.5em 1em;
  border: solid 1px #37474f;
  border-radius: 5px;
  cursor: pointer;
  color: #37474f;
  border-color: #37474f;
  font-size: small;
}

.link-btn:focus {
  border: none;
  background-color: orange;
}

.link-btn:hover {
  color: white;
  background-color: orange;
}

.link-btn:disabled {
  cursor: not-allowed;
  background-color: #37474f;
  color: white;
}

.all-btn-link {
  margin: 5px 2px 20px 2px;
}
