.people-filter-list {
  width: 100%;
}

.people-list {
  list-style-type: none;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-bar {
  width: 90%;
  text-align: center;
  height: 2rem;
  padding: 15px;
  margin: 10px;
}

.btn-paging {
  text-align: center;
}
