.login {
  background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.denofgeek.com%2Fwp-content%2Fuploads%2F2020%2F07%2Fstar-wars-squadrons-zoom-background.jpg%3Ffit%3D1920%252C1080&f=1&nofb=1)
    no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.login_form {
  display: flex;
  flex-direction: column;
}
.login_form > h1 {
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
  align-content: center;
}

.login_form > input {
  min-width: 38px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 6px;
  font-size: 15px;
}

.submit_btn {
  color: white;
  background: black;
  min-width: 100px;
  height: 3em;
  border-radius: 4px;
  border-color: orange;
  font-size: 14px;
  padding: 5px;
  margin-top: 10px;
}

.submit_btn:hover {
  border-color: black;
  background: orange;
}

.link-div {
  /* float: right; */
  text-align: right;
  font-weight: 800;
}
.link {
  color: white;
}
