.people-item-cover {
  height: 220px;
  width: 220px;
  border-radius: 20px;
}

.people-item {
  margin: 10px;
  padding: 15px;
  /* display: flex;
  flex-direction: row; */
  align-items: flex-start;
  justify-content: center;
  text-transform: capitalize;
  border: 1px solid orange;
  border-radius: 8px;
}

.people-item:hover {
  background-color: orange;
  cursor: pointer;
}
